---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


a:link,
a:visited,
a:active {
    color: #2097ff;
}

div.highlighter-rouge, figure.highlight {
    background-color: rgba(16, 14, 34, 0.99) !important;
    border-left: 8px solid #216f00 !important;
}

nav .nav__list a,
nav .nav__list a:link,
nav .nav__list a:active,
nav .nav__list a:visited {
    color: #2097ff;
}


@media only screen and (max-width: 992px) { 
    .toc {
        margin-top:120px !important;
        background: #191d26 !important;
        display: none !important
    }
}

.toc {
    margin-top:120px !important;
    background: #191d26 !important;
}

#main { 
    padding-bottom: 40px !important;
}

.initial-content {
    background: #0d1117 !important;
    padding-bottom: 20px !important;
}

.sidebar p, .sidebar li {
    line-height: 1.8;
    font-size: 0.9em;
    font-weight: normal;
}

.sidebar p, .sidebar li a, 
.sidebar p, .sidebar li a:link,
.sidebar p, .sidebar li a:visited 
{
    color: #2097ff;
}

.nav__list .nav__items .active {
    color: #e3ebf3;
    text-decoration: underline;
    font-size: 0.9em;
}


.content-spacer {
    height:60px; 
    width:100%;
    clear: both;
}

.content-spacer-sm {
    height:20px; 
    width:100%;
    clear: both;
}

.search__toggle  {
  color: #3392ff !important;
}

.greedy-nav__toggle:hover .navicon, .greedy-nav__toggle:hover .navicon:before, .greedy-nav__toggle:hover .navicon:after {
    background: #3392ff !important;
}

.greedy-nav__toggle:hover .navicon, 
.greedy-nav__toggle:hover .navicon:before, 
.greedy-nav__toggle:hover .navicon:after {
    color: #3392ff !important;
}

.navicon {
    background: #3392ff !important;
}

.navicon:before, .navicon:after {
    background: #3392ff !important;
}

.nav__list label {
    background: #3392ff !important;
    color: #FFF;
    align-self: right;
}

.toc header .nav__title {
    background-color: #3392ff !important;
}

.masthead {
    background-color: #000 !important;
}

.masthead a,
.masthead a:link,
.masthead a:active,
.masthead a:visited
{
    color: rgb(222, 222, 222) !important;
}

.masthead__inner-wrap {
    background-color: transparent !important;
}

.masthead__menu {
    background-color: transparent !important;
}

nav#site-nav.greedy-nav {
    background: transparent !important;
}

.page__footer {
    margin-top: 0px;
}

.page__content h2 {
    margin-top: 0px !important;
}